<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>One Page Wonder</title>
        <link rel="stylesheet" href="./contact-styles.css" />
    </head>
    <body>
        <div class="main">
            <div class="title">
                <p id="t1"><strong>Contact</strong></p>
                <p id="t2">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="contact">
                <div class="form">
                    <div class="email">
                        <p id="t3"><strong>Your E-mail</strong></p>
                        <input type="text" placeholder="Your email">
                    </div>
                    <div class="message">
                        <p id="t4"><strong>Your Message</strong></p>
                        <textarea placeholder="Please enter your message here..." rows="3"></textarea><br>
                    </div>
                    <div class="button">
                    <input type="submit" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>