<!-- your html code here -->
<div class="container-fluid justify-content-center d-flex p-5">
    <div class="row">
        <div class="col-6">
            <h1>The First Heading<span style="color:gray;">&nbsp;Will Catch Your Eye</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis ipsam amet voluptatibus ab iusto veniam necessitatibus dolores, hic et perspiciatis laborum eum cupiditate nobis impedit neque natus possimus atque numquam? Quam magni laudantium minus enim. Quas distinctio at nulla saepe quibusdam excepturi.</p>
        </div>
        <div class="col-6">
            <img src="/website/assets/img/1.jpg" alt="…" class="img-edit">
        </div>
    </div>
</div>