<!-- your html code here -->
<div class="container first-heading-container">
    <br>
        <div class="d-flex flex-row">
        <div class="first-head">
            <h3>
                The First Heading<span style="color:gray;">&nbsp;Will Catch Your Eye</span>
            </h3>
            <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis ipsam amet voluptatibus ab iusto veniam necessitatibus dolores, hic et perspiciatis laborum eum cupiditate nobis impedit neque natus possimus atque numquam? Quam magni laudantium minus enim. Quas distinctio at nulla saepe quibusdam excepturi.
            </p>
        </div>
            <img class="rounded-circle" src="/website/assets/img/1.jpg" height="250" alt="" />
        </div>
    </div>
</div>