<!-- your html code here -->
<div class="container second-heading-container">
    <br>
    <div class="d-flex flex-row">
        <img class="rounded-circle" src="/website/assets/img/2.jpg" height="250" alt="" />
      <div class="second-head">
        <h3><strong>The First Heading</strong> Will Catch Your Eye.</h3>
        <p>Elit magni cumque voluptatibus asperiores id Doloribus veniam porro quae 
          aliquid voluptatum Pariatur repudiandae incidunt iste quia pariatur! 
          Voluptatem aperiam
        </p>
      </div>
    </div>
  </div>